<div data-th-fragment="trumbowygStyleFragment">
    <!-- Prism.js Core CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css">
    <link rel="stylesheet" href="/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/dist/plugins/colors/ui/trumbowyg.colors.min.css" />
    <link rel="stylesheet" href="/dist/plugins/emoji/ui/trumbowyg.emoji.min.css" />
    <link rel="stylesheet" href="/dist/plugins/giphy/ui/trumbowyg.giphy.min.css" />
    <link rel="stylesheet" href="/dist/plugins/highlight/ui/trumbowyg.highlight.min.css" />
    <link rel="stylesheet" href="/dist/plugins/mathml/ui/trumbowyg.mathml.min.css" />
    <link rel="stylesheet" href="/dist/plugins/mention/ui/trumbowyg.mention.min.css" />
    <link rel="stylesheet" href="/dist/plugins/specialchars/ui/trumbowyg.specialchars.min.css" />
    <link rel="stylesheet" href="/dist/plugins/table/ui/trumbowyg.table.min.css" />
    <link rel="stylesheet" href="/dist/plugins/tenor/ui/trumbowyg.tenor.min.css" />
</div>